.gridContainer {
  box-sizing: content-box;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.gridRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cell {
  height: 25px;
  width: 25px;
  border: 2px solid black;
  background-color: white;
  margin: 2px;
  &:hover {
    cursor: pointer;
  }
}

.startCell{
    background: #2a9d8f;
}
.finishCell{
    background: #264653;
}
.wallCell{
    background: gray !important;
}
.visitedCell{
  animation: fadeItVisited 0.5s ease-in-out;
  background-color: #e9c46a ;
  opacity: 50%;
}
@keyframes fadeItVisited {
  0%   {  background: none;}
  100%  {  background-color: #e9c46a ;
    opacity: 50%;}
}
@keyframes fadeIt {
  0%   { background: #e9c46a; opacity: 50%; }
  100%  { background-color: #e76f51 ; }
}

.resultPath{
  animation: fadeIt 0.5s ease-in-out ;
  background-color: #e76f51 ;
  opacity: 1 ;
}

.button{

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 16px;
  :hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }
  width: 50%;
  margin: 4px;

}
.disabled {
  background: #e5e5e5;
  cursor:not-allowed;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

